
html,
body {
  margin: 0px;
  height: 100%;
}

.container {
  background-color: lightblue;
  border: solid red;
  height: 100%;
  display: flex;
}

.sidebar {
  width: 300px;
  background-color: beige;
}

.gallery {
  background-color: brown;
  flex: 1;
  border: solid black;
}